
    
    @font-face {
        font-family:"body";
        src: url("Oswald-ExtraLight.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }

      @font-face {
        font-family:"title";
        src: url("Pencerio-Hairline.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }
    

  
        h1{
          text-align: center;
          border: 3px solid pink;
          color: white;
          max-width: 100%;
          font-size: 200px;
          transition: all 2s ease-in-out;
          font-family: "title";
        }
    H1:hover{
      color: indianred;
    }
        
      h3{
        text-align: center;
    
        color: white;
        max-width: 100%;
        font-size: 100px;
        transition: all 2s ease-in-out;
        font-family: "title";
      }
h3:hover{
  filter: blur(10px);
}
        body{
            font-family: "body";
            text-align: center;
            border: 3px solid pink;
            color: white;
            transition: all 2s ease-in-out;
          }

        body:hover{
  
color: indianred;
        }
          
     