
    
    @font-face {
        font-family:"body";
        src: url("Oswald-ExtraLight.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }

      @font-face {
        font-family:"title";
        src: url("Pencerio-Hairline.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }
    

    .title{
        text-align: center;
        border: 3px solid pink;
        color: white;
        max-width: 100%;
        transition: all 2s ease-in-out;
        font-family: "custom-font";

        h1{
          text-align: center;
          border: 3px solid pink;
          color: white;
          max-width: 100%;
          font-size: 100px;
          transition: all 2s ease-in-out;
          font-family: "title";
        }
    H1:hover{
      background-color: indianred;
    }
        
        }

        body{
            font-family: "body";
            text-align: center;
            border: 3px solid pink;
            color: white;
            transition: all 2s ease-in-out;
          }

        body:hover{
  
  background-color: indianred;
 
        }
          
     