
    
    @font-face {
        font-family:"body";
        src: url("Oswald-ExtraLight.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }

      @font-face {
        font-family:"title";
        src: url("Pencerio-Hairline.otf");format(otf)
        font-weight:normal;
        font-style:normal;
      }
    

    .title{
        color: white;
         text: size 150px;
    
        
        }

        body{
            font-family: "body";
          }
          
    