@font-face {
    font-family: "custom-font";
    src: url("Array-Regular.otf"); format("otf")
    font-weight: normal;
    font-style: normal;
  
    body{
        font-family: "custom-font";
      }
      