@font-face {
  font-family: "custom-font";
  src: url("Pally-Regular.otf"); format("otf")
  font-weight: normal;
  font-style: normal;
}
body{
  font-size: large;
}

a:link{
    color:white;
  }
a:visited{
    color:pink;
  }
p{
    color:azure
  }
body{
    background-color: #DC143C;
  }
body{
  font-family: "custom-font";
}