@font-face {
  font-family: "custom-font";
  src: url("Pally-Regular.otf"); format("otf")
  font-weight: normal;
  font-style: normal;

@font-face {
    font-family:"H1";
    src: url("pally-Bold.otf");format(otf)
    font-weight:normal;
    font-style:normal;
  }
}
body{
  font-size:100px;
}

a:link{
    color:white;
  }
a:visited{
    color:white;
  }
p{
    color:azure
  }
body{
    background-color: #DC143C;
  }
body{
  font-family: "custom-font";
}


  
.backnavbar{
  background-color:none;
  width: auto;
  text-align: center;
  text-decoration:none;
  color:black;
  position:fixed;
  bottom:10px;
  left:10px;
  list-style-type: none;
  font-size: 50px;
}
.nextnavbar{
  background-color:none;
  width: auto;
  text-align: center;
  text-decoration:none;
  color:black;
  position:fixed;
  bottom:10px;
  right:10px;
  list-style-type: none;
  font-size: 50px;
}

.list{
  list-style-type: none;
  font-size: 50px;
}

.title1{
color: white;
 text: size 150px;

}

.title2{
color: white;
}

#rainbow{
  height: 300px;
 
  background-color: linear-gradient(to right, Red , Orange, Yellow, Green, Blue, Indigo, Violet);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.rainbow-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red);
  background-size: 1600% 1600%;
  animation: rainbowAnimation 30s ease infinite;
  z-index: -1;
}

@keyframes rainbowAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
